<form class="row g-3" method="post" action="">
    <h1>Admin panel</h1>
    <div class="col-md-3">
        <label for="newTask" class="form-label">Add New Task</label>
        <input type="text" class="form-control" name="newTask"><br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Show Employees Tasks
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Task title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add New Project
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Project title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <datalist id="department">
        @*@foreach (var department in Model)
        {
            <option>@department</option>
        }*@
    </datalist>
    <br />
    <datalist id="position">
        @*@foreach (var position in Model)
        {
            <option>@position</option>
        }*@
    </datalist>
    <br />
    <datalist id="fullName">
        @*@foreach (var fullName in Model)
        {
            <option>@fullName</option>
        }*@
    </datalist>
    <br />
    <datalist id="project">
        @*@foreach (var project in Model)
        {
            <option>@project</option>
        }*@
    </datalist>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
