<form class="row g-3" method="post" action="">
    <div class="container">
        <h1>List peoples</h1>
    </div>
    <div class="col-md-3">
        <label for="inputNumber" class="form-label">Enter number</label>
        <input type="text" class="form-control" name="inputNumber">
        <button type="submit" class="btn btn-primary">Вismiss</button>
    </div>
</form>
