@model List<HeadOfDepartmentViewModel>

<form class="row g-3" method="post" asp-controller="HeadOfDepartment" asp-action="AdminMenu">
    <h1>Admin panel</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <label for="fullName" class="form-label">Employees</label>
                <input type="text" list="fullName" id="full" class="form-control" name="fullName" />
                <datalist id="fullName">
                    @foreach (var employee in Model)
                    {
                        <option>@employee.FullName</option>
                    }
                </datalist>
                <br />
                <label for="project" class="form-label">Projects</label>
                <input type="text" list="project" id="proj" class="form-control" name="project" />
                <datalist id="project">
                    @foreach (var project in Model[0].Projects)
                    {
                        <option>@project</option>
                    }
                </datalist>
                <br />
                <label for="newTask" class="form-label">Add New Task</label>
                <input type="text" class="form-control" name="newTask"><br />
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-4">
                <form method="post" asp-controller="HeadOfDepartment" asp-action="AddProject">
                    <label for="newProject" class="form-label">Add New Project</label>
                    <input type="text" class="form-control" name="newProject"><br />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <br />
            </div>
            <div class="col-4">
                <label for="newProject" class="form-label">Employees tasks</label>
                <br />
                <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">Show</button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Task title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @foreach (var employee in Model)
                    {
                        <div class="row">
                            <div class="col-md">
                                <h5>Employee:</h5>
                                <option>@employee.FullName</option>
                            </div>

                            <div class="col-md">
                                <h5>Tasks:</h5>
                                @foreach (var item in employee.Tasks)
                                {
                                    <option>@item.TaskName</option>
                                }
                                <br />
                            </div>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

