@model List<HeadOfDepartmentViewModel>

<form class="row g-3" method="post" asp-controller="HeadOfDepartment" asp-action="AdminMenu">
    <h1>Admin panel</h1>
    <div class="col-md-3">
        <label for="newTask" class="form-label">Add New Task</label>
        <input type="text" class="form-control" name="newTask"><br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Show Employees Tasks
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Task title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @foreach (var employee in Model)
                    {
                    <div class="row">
                        <div class="col-md">
                            <h5>Employee:</h5>
                            <option>@employee.FullName</option>
                        </div>
                        
                        <div class="col-md">
                            <h5>Tasks:</h5>
                            @foreach (var item in employee.Tasks)
                            {
                                <option>@item.TaskName</option>
                            }
                            <br />
                        </div>
                    </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

   

    <input type="text" list="fullName" id="full" class="form-control" name="fullName"/>
    <datalist id="fullName">
        @foreach (var fullName in Model)
        {
            <option>@fullName.FullName</option>
        }
    </datalist>
    <br />
    <input type="text" list="project" id="proj" class="form-control" name="project"/>
    <datalist id="project">
        @foreach (var project in Model[0].Projects)
        {
            <option>@project</option>
        }
    </datalist>
    <br />
</form>
<form method="post" asp-controller="HeadOfDepartment" asp-action="AddProject">
    <div class="col-md-3">
        <label for="newProject" class="form-label">Add New Project</label>
        <input type="text" class="form-control" name="newProject"><br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>